.App {
    width: 100%;

}

.tree-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#root {
    margin: 0;
    padding: 0;
}

/* Remove number input spinners */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}